<?xml version = "1.0"?>

<launch>

    <!-- Signal generator Node -->
    <node pkg="challenge1" type="signal_generator.py" name="signal_generator"
    output= "screen" />

    <!-- Processing Node -->
    <node pkg="challenge1" type="process.py" name="process"
    output="screen" launch-prefix="nice" />

    <!-- rqt_plot subscription to /signal and /proc_signal -->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args= "/signal /proc_signal"
    output="screen" />
</launch>
